.App {
  text-align: center;
  background: radial-gradient(rgb(242, 242, 60), rgb(250, 197, 99), rgb(124, 4, 244));
}
.background-Image {
 background-image: url("./Sunset-Kiss.jpg");
 /* height: 300px; */
 width: 0;
 position: fixed;
 z-index: 1;
 top: 0;
 left: 0;
 background-repeat: no-repeat;
background-size: cover;

}

.sf {
  height: 300px;
  padding: 5px;
  margin: 5px;
}

.section {
  padding: 10px;
}